<html>
    <head><title>오류</title></head>
    <body background ="http://i1325.photobucket.com/albums/u637/aimeemaher1/background_zps13e5ab6d.png">
      <center>
        <h1><img src = "http://i1325.photobucket.com/albums/u637/aimeemaher1/pony_shakespeare_error_zpsa87c0bf4.png"/></h1>
          <h1 style= "background-color:white; font-family: Arial; font-size: 32px">There is no url with the relative path <%= @path %>
            <a href="./">Get back in the saddle!</a>
          </h1>
        <embed src="http://www.freesfx.co.uk/rx2/mp3s/1/792_1244762313.mp3" loop="false" autostart="true" hidden="true">
        </embed>
      </center>
    </body>
  </html>

